In [1]:
#Map: executes a specified function for each of item of a iterable

#Syntax: map(func, *iterables)

def sq(x):
    return x**2

l=[1,2,3,4,5]

list(map(sq,l))

[1, 4, 9, 16, 25]

In [2]:
def add(x):
    return x+10

list(map(add,l))

[11, 12, 13, 14, 15]

In [4]:
#using lambda with map
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25]

In [5]:
m=["1","6","9"]
list(map(lambda x:int(x), m))

[1, 6, 9]

In [6]:
l1=[10,20,30,40]
l2=[5,6,7,8]
list(map(lambda x,y : x+y,l,l2))

[6, 8, 10, 12]

In [7]:
s="vikash"
list(map(lambda x:x.upper(),s))

['V', 'I', 'K', 'A', 'S', 'H']

In [9]:
words=['python','data science']
list(map(str.capitalize,words))

['Python', 'Data science']

In [10]:
grades=["A","B","C","D"]
list(map(lambda grade: 4 if grade=="A" else (3 if grade =="B" else 2), grades))

[4, 3, 2, 2]