This notebook is connected with GitHub :-)    |  Vikash Kumar

In [6]:
print("Vikash Kumar")

Vikash Kumar

In [1]:
True-False

1

In [ ]:
True*False

0

In [1]:
6 - True

5

In [2]:
6 - False

6

In [3]:
type(True)

bool

In [4]:
f=None
f
#Nothing will be printed as it is none

In [16]:
type(f)
#Collapsed due to NoneType

NoneType

In [18]:
#complex number
com = 5+6j
type(com)

complex

In [20]:
com.real

5.0

In [21]:
com.imag

6.0

In [23]:
#Multiline Comments

'''
3 upper commas is used for multi line comments
'''

"""
3 upper doble commas is used for multi line comments
"""

a=6
a

6

In [24]:
type(a5)

NameError: name 'a5' is not defined

In [26]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [28]:
#Indentation
if 3 > 2:
    print("Greater") #Tab can be used to fix indentation

Greater

In [ ]:
a=5 #Assignment Statement
b=6 #Assignment Statement
a+b #Expression Statement

11

:

In [34]:
name = input("Please enter your name")
#input actually takes as a string only

In [35]:
name

'2'

In [40]:
# Typecasting to convert string into int
new = int(name)
new

2

In [41]:

type(new)

int

In [43]:
f="3.5"
type(f)

str

In [44]:
float(f)

3.5

In [45]:
str(f)

'3.5'

In [46]:
bool(0)

False

In [47]:
bool(1)

True

In [48]:
# Python is case sensitive language
a=5
A=7
print(a)
print(A)

5
7

In [1]:
print("Hello")

Hello

In [50]:
#print = "Vikash"

In [2]:
print("World")

World

In [52]:
#Variable should not be keyword
# Print in above will assign print as variable and to fix it we need to restart the kernel

In [4]:
a=7
a # In a memory, a memory blcok is created with reference name a and value as 7

7

In [5]:
name= "Vivek"

In [6]:
name[0]

'V'

In [7]:
name[3]

'e'

In [9]:
name[-2]

'e'

In [1]:
list_cont = [1,2,3,4.2,5+7j,"Aditya"]

In [2]:
list_cont[3]

4.2

In [3]:
list_cont[4]

(5+7j)

In [4]:
type(list_cont)

list

In [5]:
list_cont[-1]

'Aditya'

In [6]:
list_cont[5] = "Vishal"

In [7]:
print(list_cont)

[1, 2, 3, 4.2, (5+7j), 'Vishal']

In [8]:
#Objects/ container whose state or value can be changed after they are created are called as mutable oject or container  or item assignment
# List is the type of mutable object / support item assignment

In [9]:
n="Vikash"

In [10]:
b[1]="K"

NameError: name 'b' is not defined

In [11]:
# String can not be changed hence it is immutable object or container

In [16]:
# Operators: Special keywords to perform operations (manage and computation)

#Arithmetic Operators
a=10
b=15
c=a+b
print(c)
d=a*b
print(d)
e=a/b
print(e)
f=a%b #Modulus Operator
print(f)
g= 2 ** 5  #2 to the power 5
print(g)
h=7 // 3 #floor operator gives the nearest lower value
print(h)

25
150
0.6666666666666666
10
32
2

In [19]:
# Comparison Operators
a= 2==2 #single = for assigning the value and double == for comparison
print(a)
b= 2!=2
print(b)
c= 5!=2
print(c)
d= 10>=3
print(d)

True
False
True
True

In [21]:
# Logical Operator
# and and or operator

a=True-True
print(a)
b=True-False
print(b)
c= True and True
print(c)
d= False or True
print(d)

0
1
True
True

In [22]:
# Not Operator
a= not True
print(a)
b= not False
print(b)

False
True

In [24]:
#Assignment Operator
a = 15
a = a+3
print(a)

b=16
b+=5 #can be directly added with 5 
print(b)

18
21

In [32]:
# Membership Operator
a = "Vikash Kumar"
b='u' in a
print(b)
c='s' not in a
print(c)
d = 'as' in a
print(d)
e= 'Ram' not in a
print(e)

True
False
True
True

In [33]:
a = ["data", 'analytics', 'science']
b = 'data' in a
print(b)

True

In [ ]:
# Identity Operator = compares the location of two objects / variables
a = 2
b = 3
c = a is b
print(c)
d= a is not b
print(d)
e = a
f = e is a # e and a are in same location and refering to same value
print(f)

False
True
True

In [41]:
# Bitwise Operator = opearation at bit level, manipulating individual bits within integer
a= 10 & 10  #10 in bitcode written as 1010 and 1010 with again give 1010 with and operator
print(a) 
b = bin(10) #gives the bitwise representation of 10
print(b)
c = 18 & 3 #and operation on bit value
print(c)
d = 3 | 7
print(d)

10
0b1010
2
7

In [44]:
# Negation 
a = ~10 #It will gives one lower value with negative(opposite) symbol
print(a)
b= ~-2
print(b)

-11
1

In [46]:
# Bitwise XOR Operator ^(called 'hat' or 'cap' at number 6)
# XOR gives 1 only when exactly 1 operand is 1

a = 5^3
print(a)
b = 2 ^ 6
print(b)

6
4

In [52]:
# Shift Operators
# shift: shifts the bits  by left or right

#left shift = shifts the bits to the left by a specified number of position , filling 0's of the right 

a = 35 << 3 #shift the bitwise representation by 3 position (add 0 right side by 3 position)
print(a)

#Right Shift =  shifts the bits to the right by a specified number of position , filling 0's of the right 
b = 35 >> 3 #remove the right side 3 bits
print(b)

280
4

In [54]:
# Order of precedence
# Execution of python statement will be from left to right

a = 5
a += 3 #first add as it is in left hand side
print(a)

# Always parenthesis or bracket first will be executed

b = 5 * (6-4)
print(b)

8
10

In [4]:
#Type casting

a="2"
b=5
c=int(a)+b
print(c)
print(type(a))
print(type(int(a)))

7
<class 'str'>
<class 'int'>

In [8]:
#float to integer
a=5.2
# type(a)
type(int(a))

int

In [9]:
#integer to float
a=7
print(float(a))

7.0

In [ ]:
#string to float
a="2.5" 
print(float(a))
# print(int(a)) it throws an error

2.5

In [15]:
#integer to string
a=5
print(str(a))
type(str(a))

5

str

In [17]:
#Concatenation
a="Vikash"
b=" Kumar" 
c=a+b
print(c)

Vikash Kumar

In [24]:
#Boolean 

print(bool(5))
print(bool(-4))
print(bool(0)) #Only integer 0 will gives False
print(bool("Vik"))
print(bool("")) #Empty string will gives False

True
True
False
True
False

In [1]:
a=10
if a >0:
    print("The number is greater than o.")

The number is greater than o.

In [2]:
weather = "rainny"
if weather == "rainny":
    print("I will not go to play Cricket.")

I will not go to play Cricket.

In [3]:
ds_course = True
if ds_course:
    print("I am studying DS Course")

I am studying DS Course

In [ ]:
num=42
if ((num%2==0) & (num>0)): #use of parenthesis is best practices
    print("This is the required number.")

This is the required number.

In [5]:
age=21
if age >=18:
    print("You will be served alcohol")
else:
    print("Get out of the bar")

You will be served alcohol

In [6]:
a=10
if a>10:
    print("The number is greater than 10")
elif a ==10:
    print("The number is equal to 10")
else:
    print("The number is less than 10")

The number is equal to 10

In [2]:
a = int(input("Enter the nummber"))
if a > 0:
    print("The number is positive")
elif a==0:
    print("The number is 0")
else:
    print("The number is negative")
print(a)

The number is negative
-5

In [5]:
name=input("Please enter your name")
email=input("Please enter your email")
password=input("Please enter your password")

if name=="":
    print("Name cannot be empty")
else:
    if '@' not in email:
        print("Please enter the valid email")
    else:
        if len(password) < 4:
            print("Please enter the valid password")
        else:
            print("Your registration / Login is successful")

Your registration / Login is successful

In [2]:
#Loops
#While Loop: repeatedly executed until a condition is met

n=7
i=1
while i <n:
    print(i)
    i+=1

1
2
3
4
5
6

In [5]:
count = 5
while count >0:
    print(count)
    count-=1
print("The code is complete")

5
4
3
2
1
The code is complete

In [9]:
# Break Statement
n=7
i=1
while i < n:
    print(i)
    i+=1
    if i==3:
        break
print("The code is breaked")
# else:
#     print("The code is breaked")  #This will not execute because it's part of while loop

1
2
The code is breaked

In [12]:
# Continue Statement
n=7
i=1
while i < n:
    i+=1
    if i==3:
        continue
    print(i)
# print("The code is skipped at 3")
else:
    print("The code is skipped at 3")

2
4
5
6
7
The code is skipped at 3

In [14]:
#For Loop; iterate the sequence of elements > strings, list
for i in "datascience":
    print(i)

d
a
t
a
s
c
i
e
n
c
e

In [16]:
a = "vikash"
for i in a:
    print(i)

v
i
k
a
s
h

In [17]:
l = [1,2,3.5,"Wiry"]
for i in l:
    print(i)

1
2
3.5
Wiry

In [ ]:
for i in l:
    if i == 3.5:
        break
    print(i)
else:
    print("The code is done")

1
2

In [19]:
list(range(0,10)) #It will gives value from 0 to 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
#range(start,stop,step)
for i in range(10): #range(0,10)
    print(i, end=" ") # this will gives value in the single line
for i in range(0,10,2):
    print(i)

0 1 2 3 4 5 6 7 8 9 0
2
4
6
8

In [ ]:
# Problem Statement
# Print a right angle triangle

row = 1
while row <=4:
    col=1
    while col <=row:
        print("*", end=" ") # It will print the stars in the same line and not in the next line
        col=col+1 #It will increase the number of stars
    print() #print new line
    row=row+1

*
* *
* * *
* * * *

In [27]:
for i in range(4):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****

In [ ]:
#Square of asteriks

for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()

* * *
* * *
* * *

In [31]:
for i in range(10):
    if i%2 != 0:
        continue
    print(i) #print even number

0
2
4
6
8

In [ ]:
#Multiplication Table
for i in range(1,3):
    for j in range(1,11):
        product = i * j
        # print(f"{i} * {j} = {product}") #This can also be used to print variable
        print(i,"*",j, "=", product)
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [43]:
x=[1,2,3,4,5]
# print()
y=x[1:4]
print(y)

[2, 3, 4]

In [39]:
for i in range(3,0,-1):
    print(i)

3
2
1

In [41]:
def add(a,b=5):
    return a+b
print(add(3))

8

In [44]:
text = "python"
print(text[::-1])

nohtyp