In [ ]:
#string is a sequence of character which represents and manipulate textual data
#characters are represented using numerical value and each character is assigned unique value/
#ASCII (7bits) and UNICODE (16 bits)
#ASCII: 2 to the power 8 (128) characters has been encoded whereas the UTF covers almost all the characters of all the language in the world as it is 2 to the power 16
#UTF-8, UTF-16 is popular encoding schemes
#ASCII: American Standard Code for Information Interchange
#UTF: Unicode Transformation Format

In [ ]:
#ASCII Representation
char = "A"
print(ord(char)) #ordinal, means what is numerical order of character
print(chr(65)) #character give the character corresponding to that number

65
A

In [ ]:
#UNICODE Representation
#Omega

print('\u03A9') #Omega
print('\u03A3') #Summationn
print('\u0974') #A in hindi
print('\u0973') #Aau in Hindi

Ω
Σ
ॴ
ॳ

In [9]:
print("I'm a student")
print("""I"m a student""")

print('''I"m a student''')

I'm a student
I"m a student
I"m a student

In [11]:
#Concatenation of String: Combination of two string
A= "Hello" +" World"
print(A)

Hello World

In [18]:
a="I am learning Data Scientist"
print(a[0:4]) #4 is exclusive or it is not included
print(a[5:]) #From 5th index to last
print(a[:-3]) #except the last 3 character
print(a[-3:]) #only last 3 character
print()
print(a[0:12:2]) #a[start:end:step]
print(a[::-1]) #iterate over the sequence in reverse order

I am
learning Data Scientist
I am learning Data Scient
ist

Ia eri
tsitneicS ataD gninrael ma I

In [24]:
# Length of string
print(len(a))

#Modification of string
b= "I am a student"
print(b.replace("student","coder"))

c="BRB, TTYL, LOL"
print(c.replace("BRB", "BE right back").replace("LOL","Laughing Out Loud"))

28
I am a coder
BE right back, TTYL, Laughing Out Loud

In [30]:
text= "Hello World"
print(text.lower())
print(text.upper())
print(text.title()) #First letter to word to converted to uppercase
print(text.swapcase()) #convert upper into lower and vice-versa
print(text.capitalize()) #first letter uppercase and rest as lower.

hello world
HELLO WORLD
Hello World
hELLO wORLD
Hello world

In [34]:
#String Searching 
sen="I am a coder for data scientist"
search_word ="am"
if search_word in sen:
    print("Search Found!")
else:
    print("Not found")

Search Found!

In [35]:
document= "vikash.pdf"
if ".pdf" in document:
    print("It's a pdf file")
else:
    print("It's not a pdf file")

It's a pdf file

In [37]:
#String Comparison
str1="Vivek"
str2="vivek"
str1.lower() == str2.lower() #to prevent typo mistake as python is case sensitive language

True

In [40]:
product_code = "P123"
scanned_code = input("scan the product code: ")
if product_code == scanned_code:
    print("The price of product is 100")
else:
    print("Not Found! Please Contact the receptionist")

Not Found! Please Contact the receptionist

In [43]:
#String Ordering
name=["Ajay", "Sanjay", "rajesh","Brijesh"]
sorted(name)

['Ajay', 'Brijesh', 'Sanjay', 'rajesh']

In [47]:
#Common String Operations
sent= "        Vikash          "
print(sent)
print(sent.strip()) #Remove the white space

        Vikash
Vikash

In [52]:
# String Splitting
data = "Vikash, Data Science, Coder"
info = data.split(',')
name= info[0]
sub= info[1]
prof = info[2]
print(sub)

 Data Science

In [3]:
#Escape Sequences: Special combinations of characters used within a string

address="""123, Hanumantha Compound,
 J P nagar, 
 Bangalore""" #\n will come in simple address calling
address

'123, Hanumantha Compound,\n J P nagar, \n Bangalore'

In [5]:
print(address) #\n is not printed in print statement

123, Hanumantha Compound,
 J P nagar,
 Bangalore

In [7]:
add1= """721, Hanumantha compound, \n J P Nagar, \nBangalore"""
add1

'721, Hanumantha compound, \n J P Nagar, \nBangalore'

In [9]:
print(add1) #\n will print the following statement in new line

721, Hanumantha compound,
 J P Nagar,
Bangalore

In [10]:
#\t Escape Character for Tab
table= "Name\tAge\tGrade\nVikash\t21\tA\nVivek\t26\tA+\n"
print(table)

Name	Age	Grade
Vikash	21	A
Vivek	26	A+

In [13]:
#\' single quote escape

file_path= "C:\\Users\\Downloads\\Vikash.pdf"
print(file_path) #\\ because single \ treat next character as escape statement

str4= "I can\'t believe its Sunday" #single \ helps to print can't
print(str4)

C:\Users\Downloads\Vikash.pdf
I can't believe its Sunday

In [ ]:
#Carriage return \r: moves the cursor to the beginning of line

print("Hello, I am \rVikash, How can I help you?") #print after \r

Vikash, How can I help you?

In [ ]:
# String Formatting: Creating string with placeholder for variables

name=input("Please enter your name: ")
grettings = f"hello {name}, how are you?" #create placeholder for any variable
print(grettings)

hello Vikash, how are you?

In [17]:
# Old String Formatting
name="Wiry"
gret="Hello %s, Wish you a wonderful day ahead"%name
print(gret)

Hello Wiry, Wish you a wonderful day ahead

In [18]:
#.format
template= "Hello, {} Welcome to {}"
message= template.format("Vikash","Data Science")
print(message)

Hello, Vikash Welcome to Data Science

In [19]:
#f string (formatted string literals)
course= "data + frontend"
duration = 6
f"My course is {course} and it's duration is {duration} months"

"My course is data + frontend and it's duration is 6 months"

In [20]:
user_name = "Vikash"
post_date = "2025-06-06"

print(f"Hello user, {user_name}, Today is {post_date} post")

Hello user, Vikash, Today is 2025-06-06 post

In [22]:
celsius = 36
f"{celsius} Celsius is equals to {(celsius *9/5)+32}F"

'36 Celsius is equals to 96.8F'

In [23]:
str5="datascience"
str5.startswith("data")

True

In [24]:
str5.endswith("ce")

True

In [ ]:
al="vik456"
al.isalnum() #to check alphanumeric

True