In [9]:
#Tuples are ordered collection of elements and can contain heterogenous data type
#Tuples are immutable

tuple1=('data',1,1,2,3,1,1,5,4)
print(tuple1.count(1))
print(tuple1.count("data"))
tuple1.index(2) #first occurence
print(tuple1 *2) #print 2 times 
print(tuple1[0:4])
print(tuple1[::-1])#reversed
print(tuple1[::-2]) #reversed and skips 2nd element backward

4
1
('data', 1, 1, 2, 3, 1, 1, 5, 4, 'data', 1, 1, 2, 3, 1, 1, 5, 4)
('data', 1, 1, 2)
(4, 5, 1, 1, 3, 2, 1, 1, 'data')
(4, 1, 3, 1, 'data')

In [ ]:
t1=(1,2,3,4,5,6)
t2=(41,25,36,20)
print(min(t1)) #find minimum in the tuple
t3=(t1,t2) #nested tuples
print(t3)
del t3 #delete t3
print(len(t1))
1 in t1
t3=t1+t2 #add tuple elements
print(t3)

1
((1, 2, 3, 4, 5, 6), (41, 25, 36, 20))
6
(1, 2, 3, 4, 5, 6, 41, 25, 36, 20)

In [ ]:
#Sets are unordered and unique collection of elements
#sets doesn't allow duplicate elements
#unordered hence indexing will not work

s={1,2,2,3,3,3,"vik","vik","Vika","Vika","vik"}
print(s) #only unique values
list1=list(s) #converted into list
print(list1)
# s[1] #gives error as indexing not work
#immutable data structure has a stable hash value
s.add(6)
print(s)
s.pop() #remove random value
print(s)
s.remove(3) #remove specific element
print(s)
s.update("Vikash") #print as each character
print(s)
s.update(["vikash"]) #print as whole 
print(s)
s.update([11,19])
print(s)
s.clear() #removes all element in set

{1, 2, 3, 'Vika', 'vik'}
[1, 2, 3, 'Vika', 'vik']
{1, 2, 3, 'Vika', 6, 'vik'}
{2, 3, 'Vika', 6, 'vik'}
{2, 'Vika', 6, 'vik'}
{2, 6, 'a', 's', 'k', 'V', 'i', 'Vika', 'h', 'vik'}
{2, 6, 'a', 's', 'k', 'V', 'i', 'Vika', 'h', 'vik', 'vikash'}
{2, 6, 'a', 11, 's', 'k', 'V', 'i', 'Vika', 19, 'h', 'vik', 'vikash'}

In [ ]:
j={11,12,13,14}
#j.remove(20) #will give error as 20 is not present in the set
j.discard(20) #works even when 20 is present
print(j)

{11, 12, 13, 14}

In [26]:
#Set Operations
#Union: combine elements from two sets excluding duplicates
#Intersection: Only common elements between sets
#Difference: return the elements that is present in first set and not in second
#symmetric difference: returns elements that are present in either set but not in both

s1={'coding','hiking','reading'}
s2={'coding','photography', 'travelling'}

union1=s1 | s2
intersection1= s1 & s2
difference1=s1-s2
symmetric1=s1^s2
print(union1)
print(intersection1)
print(difference1)
print(symmetric1)

{'reading', 'travelling', 'photography', 'coding', 'hiking'}
{'coding'}
{'reading', 'hiking'}
{'travelling', 'reading', 'photography', 'hiking'}

In [ ]:
#Frozen sets: immutable version of set, cannot be added or removed any new element
my_fs = frozenset([1,2,2,2,2,3,3,3,4,4,4,4,4,4,5])
print(my_fs)
# my_fs.add(20) #gives error as it is frozenset

frozenset({1, 2, 3, 4, 5})